
//process.container = 'docker://staphb/fastqc:0.11.9'

//singularity.enabled = true
//docker.enabled = true
/*
profiles {
  docker {
    docker.enabled          = true
  }
  singularity {
    singularity.enabled     = true
  }
}

process {
   withName:readssum {
      container = 'docker://staphb/lyveset:1.1.4f'
   }
}

singularity {
    enabled  = true
}
*/

singularity.enabled = true
singularity.autoMounts = true

includeConfig './configs/config_template.config'