process {
   withName:fastqc{
       container = 'docker://staphb/fastqc:0.11.9'
   }   
   withName:trimmomatic{
       container = 'docker://staphb/trimmomatic:0.39'
   }
   withName:bbtools{
       container = 'docker://staphb/bbtools:38.76'
   }
   withName:fastqc2{
       container = 'docker://staphb/fastqc:0.11.9'
   }
   withName:multiqc{
       container = 'docker://staphb/multiqc:1.8'
   }
   withName:mash{
       container = 'docker://staphb/mash:2.2'
   }
   withName:unicycler{
       container = 'docker://staphb/unicycler:0.4.7'
   }
   withName:pmga{
       container = 'docker://staphb/pmga:latest'
   }
   withName:quast{
       container = 'docker://staphb/quast:5.0.2'
   }
   withName:readssum{
       container = 'docker://staphb/lyveset:1.1.4f'
   }
   withName:prokka{
       container = 'docker://staphb/prokka:1.14.5'
   }
   withName:amrfinder{
       container = 'docker://staphb/ncbi-amrfinderplus:3.10.1'
   }
   withName:mlst{
       container = 'docker://staphb/mlst:2.19.0'
   }
   withName:kraken{
       container = 'docker://staphb/kraken2:2.0.8-beta'
   }

}
